
<script src="../JS/FRAMEWORK/BussinessLogic/AlbumsBO.js"></script>
<script src="/JS/ForEachPage/Process_Albums.js"></script>
<table id='checkBll_Albums'>
    <tr>
        <th>Check<span class='sorting' style='display: block;'></span></th>
        <th>Image</th>
        <th>Tiêu đề</th>
        <th>Ngôn ngữ</th>
        <th>Code</th>
        <th>Status</th>
        <th>Sửa/Xóa</th>
    </tr>
</table>
<script type="text/javascript">
     jQuery(document).ready(function () {
         Init_LotusTable();
     });

</script>
