<script src="../JS/FRAMEWORK/BussinessLogic/FilesBO.js"></script>
<script src="/JS/ForEachPage/Process_Files.js" type="text/javascript"></script>
<table id='checkBll1'>
    <tr>
        <th>Check<span class='sorting' style='display: block;'></span></th>
        <th>Image</th>
        <th>Flies_Title</th>
        <th>Albums_Title</th>
        <th>Files_Code</th>
        <th>Albums_Code</th>

        <th>Sửa/Xóa</th>
    </tr>
</table>
<script type="text/javascript">
     jQuery(document).ready(function () {
         Init_LotusTable();
     });

</script>