<script src="/JS/FRAMEWORK/BussinessLogic/PermitDetailsBO.js"></script>
<script src="/JS/ForEachPage/Process_PermitDetails.js" type="text/javascript"></script>
<script src="/JS/FRAMEWORK/BussinessLogic/PermitsBO.js"></script>
<table id='checkBll'>
    <tr>
        <th>Check<span class='sorting' style='display: block;'></span></th>
        <th>ID</th>
        <th>IDPermit</th>
        <th>Name</th>
        <th>PageURL</th>
        <th>Type</th>
        <th>Status</th>
        <th>Sửa/Xóa</th>
    </tr>
</table>
<script type="text/javascript">
     jQuery(document).ready(function () {
         Init_PermitDetailsTable();
     });

</script>